{% extends 'blog/base.html' %}
{% block content %}
    <!-- Masthead-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">About Us</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto"><p class="lead">Welcome to Footsteps! Our mission is to make your moving process much easier! </p></div>
                <div class="col-lg-4 mr-auto"><p class="lead">Not only making it easier to get to your new location but to familiarize yourself with your surroundings!</p></div>
                <br>
                <ul>
            </div>
        </div>
    </section>
{% endblock content %}